.page-container {
  margin-top: 72px;

  height: calc(100vh - 72px);
  overflow-y: auto;

  padding: 25px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {

  .page-container {

    padding-left: 24px;
    padding-right: 24px;

  }

}