.usuarios-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.usuarios-top {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.usuarios-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.user-actions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}