.ventas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sale-header {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.scanner-container {
  display: flex;
}

.input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.ventas-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.sale-table {
  width: 100%;
  background: white;
  border-radius: 12px;
}

.sale-table th,
.sale-table td {
  padding: 12px;
}

.sale-table button {
  background: #dc2626;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.sale-table button:hover {
  background: #b91c1c;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.payment-panel {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sale-summary {
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-primary {
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-danger {
  background: #dc2626;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn-generar-ticket {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.sale-ticket-container {
  margin-top: 30px;
}

.ticket {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.ticket-table th,
.ticket-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.tabs .btn-primary {
  background: #2563eb;
  color: white;
}