.payment-panel {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.payment-label {
  font-size: 14px;
  font-weight: 500;
}