.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 230px;
  height: 100vh;

  background: #2563eb;
  border-right: 1px solid #1d4ed8;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 22px 16px;
}

/* top */
.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;

  text-decoration: none;
  color: white;

  padding: 12px 14px;
  border-radius: 12px;

  transition: 0.2s ease;
  font-weight: 500;
}

.menu-item:hover {
  background: #1d4ed8;
}

.menu-item.active {
  background: white;
  color: #2563eb;
}

/* bottom */
.sidebar-bottom {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 10px;
}

/* usuario */
.user-box {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 12px;
  padding: 12px;

  border-radius: 12px;
  background: rgba(255,255,255,0.12);
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.user-box svg {
  font-size: 20px;
}

/* logout */
.logout {
  color: #ffdede;
}

.logout:hover {
  background: rgba(255,255,255,0.12);
  color: white;
}