.page-title {
  margin-bottom: 20px;
}

.page-title h1 {
  font-size: 28px;
  font-weight: 600;

  color: #0f172a;

  margin: 0;
}

.page-title p {
  margin-top: 4px;

  font-size: 14px;

  color: #64748b;
}